.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: var(--red);    
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container-language{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 13px;
    align-items: flex-end;
}

.language-primary,
.language-secondary{
    display: flex;
    align-items: center;
    border: 3px solid white;
    padding: 0.2rem 0.8rem;
    border-radius: 25px;
    background-color: #00bcd4;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.language-primary > p{
    margin: 0;
    padding: 0;
}

.language-secondary{
    margin-top: .2rem;
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    font-weight: 400;
    width: 80%;
    padding: 0.2rem 0.8rem;
    border-radius: 25px;
    visibility: hidden;
}

.visibility{
    visibility: visible;
}

.img-header,
.img-title{
    height: 32px;
    margin-right: 0.7rem;
}

.button{
    position: absolute;
    left: 5%;
    left: 5%;
    background-color: #00bcd4;
    border-radius: 3px;
    padding: 0.5rem;
    border: 1px solid var(--white);
    color:  var(--white);
    fill:  var(--white);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

option{
    background-color: var(--white);
    color: var(--black)
}


@media (max-width: 600px) {
    .header{
        justify-content: space-between;
    }
    .img-title{
        margin-left: 1rem;
    }
}